name: ci
on:
  push:
    branches:
      - main
      - develop
      - release/*
  pull_request:
    branches:
      - main
      - develop
      - release/*
  schedule:
    - cron: '0 0 * * 0'

jobs:
  build-and-validate:
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            toolchain: stable
            rustdocflags: "-D warnings"
            doc_type: docrs
            run_clippy: true
            run_fmt: true
            run_audit: false
          - os: ubuntu-latest
            toolchain: nightly
            rustdocflags: "-D warnings --cfg docsrs"
            doc_type: doc
            run_clippy: false
            run_fmt: false
            run_audit: true
          - os: macos-latest
            toolchain: stable
            rustdocflags: "-D warnings"
            doc_type: docrs
            run_clippy: true
            run_fmt: true
            run_audit: false
          - os: windows-latest
            toolchain: stable
            rustdocflags: "-D warnings"
            doc_type: docrs
            run_clippy: true
            run_fmt: true
            run_audit: false

    runs-on: ${{ matrix.os }}
    name: "Build and validate (${{ matrix.toolchain }} @ ${{ matrix.os }})"
    env:
      CARGO_TERM_COLOR: always
      RUSTFLAGS: -D warnings
      RUSTDOCFLAGS: ${{ matrix.rustdocflags }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Cache Cargo Registry
        uses: actions/cache@v3
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-registry-

      - name: Cache Cargo Git Index
        uses: actions/cache@v3
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-index-

      - name: Install Rust toolchain
        run: |
          set -euo pipefail
          rustup update "${{ matrix.toolchain }}"
          rustup default "${{ matrix.toolchain }}"

      - name: Lint with Clippy
        if: matrix.run_clippy
        run: cargo clippy --all-targets --all-features --workspace

      - name: Check Code Formatting
        if: matrix.run_fmt
        run: cargo fmt -- --check

      - name: Build the Project
        run: cargo build --workspace --all-features --verbose

      - name: Run Tests
        run: cargo test --workspace --all-features --verbose

      - name: Generate Documentation (${{ matrix.doc_type }}, ${{ matrix.toolchain }})
        run: cargo doc --no-deps --all-features

      - name: Install and Run Security Audit (Nightly Only)
        if: matrix.run_audit
        run: |
          cargo install cargo-audit
          cargo audit

